body {
    background-color: #262626;
    font-family: Helvetica;
}

h1 {
    color: white;
    text-align: center;
}

#display {
    color: white;
    text-align: center;
}

.drum-pad {
    height:100px;
    width: 100px;
    border: 10px solid red;
    border-radius: 50%;
}

#drum-machine {
    margin: auto;
    text-align: center;
}
